.faqRow {
  display: flex;
  align-items: flex-end;
  text-align: start;
  margin: 0 auto 40px;
  max-width: 70%;
  @media only screen and (max-width: 768px) {
    max-width: 90%;
  }

  img {
    width: 30px;
  }
  .answerWrapper {
    margin-left: 20px;

    span {
      display: inline-block;
      margin-top: 8px;
    }
  }
}
