$color-black-pearl: #19222d;
$color-white: #ffff;
$color-white-smoke: #f5f5f5;
$color-solitude: #dfe2e6;
$color-gray: #7f7f7f;
$color-blue: #63abffe8;

$text-gradient: -webkit-linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
